/* 
.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* 
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Cinzel", serif;
}
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgba(0, 128, 0, 0.5), rgba(0, 128, 0, 0.5)), url('https://t3.ftcdn.net/jpg/02/02/49/54/240_F_202495480_XN460Nd7ulmULB39gf6Vbf3SjjcFOQsl.jpg');
    background-size: cover;
    background-position: center;
}

header{
    width: 100vw;
    height: 20vh;
    background-color: rgb(6, 70, 4);
    display: flex;
    flex-direction: column;
    margin: 0 0  30px 0;
}
.logo,.text__header{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(221, 172, 9);
    font-size: 40px;
    text-align: center;
}
.logo span {
    font-size: 70px; 
}


.container{
    background-color: rgba(240, 248, 255, 0.356);
    border:  2px solid  rgb(221, 172, 9);
    padding: 30px;
    border-radius: 30px;
}

.color label{
    color: black;
    font-size: 20px;
}
.color2{
    color: rgb(44, 43, 43);
}
#cep{
    color: black;
}


@media only screen and (min-width: 768px) {/*TABLET*/
    header{
        width: 100vw;
        height: 20vh;
        background-color: rgb(6, 70, 4);
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 15px;
    }
    .text__header{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 15px;
        font-size: 60px;
    }
    .logo span {
        font-size: 100px; 
    }
}
