<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoCep Connect</title>
    <link rel="stylesheet" href="/static/index/css.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <h1 class="logo">TempoCep Connect</h1>
                <ul class="nav-links">

                    <li><a href="/cep">Buscar CEP</a></li>
                    <li><a href="/tempo">Mostrar Tempo</a></li>
                    <!-- Adicione outros links conforme necessário -->
                </ul>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="carousel">
            <img src="https://t4.ftcdn.net/jpg/01/99/19/25/240_F_199192585_kxpN2OcDnMF5tV5qFF5RcXVVNTvM88Ji.jpg" alt="Imagem 1">
            <img src="https://t4.ftcdn.net/jpg/01/99/19/25/240_F_199192585_kxpN2OcDnMF5tV5qFF5RcXVVNTvM88Ji.jpg" alt="Imagem 2">
            <img src="https://t4.ftcdn.net/jpg/01/99/19/25/240_F_199192585_kxpN2OcDnMF5tV5qFF5RcXVVNTvM88Ji.jpg" alt="Imagem 3">
        </div>
        <div class="hero-content">
            <h2>Bem-vindo ao TempoCep Connect</h2>
            <p>Um aplicativo para buscar CEP e mostrar o tempo.</p>
            <button class="btn">Saiba Mais</button>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <h2>Por que escolher o TempoCep Connect?</h2>
            <div class="feature-item">
                <img src="https://t4.ftcdn.net/jpg/01/99/19/25/240_F_199192585_kxpN2OcDnMF5tV5qFF5RcXVVNTvM88Ji.jpg" alt="Feature 1">
                <h3>Busca de CEP</h3>
                <p>Encontre endereços facilmente.</p>
            </div>
            <div class="feature-item">
                <img src="https://t4.ftcdn.net/jpg/04/99/92/67/240_F_499926750_fgd6vB5DAa5e4WcirptTbSh4ub4Cu6ya.jpg" alt="Feature 2">
                <h3>Previsão do Tempo</h3>
                <p>Obtenha informações meteorológicas precisas.</p>
            </div>
            <!-- Adicione mais features conforme necessário -->
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 TempoCep Connect. Todos os direitos reservados a Ana Beatriz Camassuti.</p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>
